body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://hbr.org/resources/images/article_assets/2020/08/Aug20_06_84753778.jpg");
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: blue;
    text-shadow: 2px 2px 4px skyblue;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 9px green;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s ease;
}

li:last-child {
    border-bottom: none;
}

li:hover {
    background-color: #f9f9f9;
}

.completed {
    text-decoration: line-through;
    color: red;
}

.actions {
    display: flex;
    align-items: center;
}

.actions button {
    background-color: skyblue;
    margin-left: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: blue;
}
